<div class="row">
  <div class="col l4 offset-l4 m6 offset-m3 s8 offset-s2">
    <div class="card">
      <div class="card-content">
        <span class="card-title grey-text text-darken-4" >Register</span>
        <hr/>
        <form class="form" ng-submit="register(credentials)" role="form" novalidate>
          <div class="row">
            <div class="input-field col l8 offset-l2">
              <label for="login-username">Username</label>
              <input id="login-username" type="text" ng-model="credentials.username" required>
            </div>
          </div>
          <div class="row">
            <div class=" input-field col l8 offset-l2">
              <label for="password">Password</label>
              <input type="password" id="password" class="form-control" ng-model="credentials.password1" required />
            </div>
          </div>
          <div class="row">
            <div class=" input-field col l8 offset-l2">
              <label for="password2">Confirm Password</label>
              <input type="password" id="password2" class="form-control" ng-model="credentials.password2" required />
            </div>
          </div>
          <div class="row">
            <div class=" input-field col l8 offset-l2">
              <label for="email">Email</label>
              <input type="email" id="email" class="form-control" ng-model="credentials.email" required />
            </div>
          </div>
          <div class="row">
            <div class="col l12">
              <button type="submit" ng-disabled="form.$invalid" class="btn blue col l8 offset-l2">Sign up</button>
            </div>
          </div>
        </form>
      </div>
      <div class="card-action">
        <a ui-sref="login">Already have an account</a>
      </div>
    </div>
  </div>
</div>
