main, header {
  padding-left: 240px; }

.noFixedSideNav {
  padding-left: 0px; }

@media only screen and (max-width: 992px) {
  main, header {
    padding-left: 0px; } }

/** Content **/
.content {
  margin-top: 10px; }

/** SideNav and navbar **/
nav {
  overflow: hidden;
  background-color: #8BC34A; }

nav a {
  -webkit-font-smoothing: antialiased; }

nav ul li:hover, nav ul li.active {
  background-color: #ea454b; }

ul.side-nav.fixed li.logo {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 16px;
  border-bottom: 1px solid #ddd; }

ul.side-nav.fixed {
  overflow: hidden; }

ul.side-nav.fixed li {
  line-height: 44px; }

ul.side-nav.fixed li:hover, ul.side-nav.fixed li.active {
  background-color: rgba(0, 0, 0, 0.05); }

ul.side-nav.fixed li a {
  font-size: 13px; }

ul.side-nav.fixed ul.collapsible-accordion {
  background-color: #FFF; }

ul.side-nav.fixed:hover {
  overflow-y: auto; }

ul.side-nav.fixed li.logo:hover {
  background-color: transparent; }

.bold > a {
  font-weight: bold; }

#logo-container {
  height: 57px;
  margin-bottom: 32px; }

#front-page-logo {
  display: inline-block;
  height: 100%;
  pointer-events: none; }

nav.top-nav {
  height: 122px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

nav.top-nav a.page-title {
  line-height: 122px;
  font-size: 48px; }

a.button-collapse.top-nav {
  position: absolute;
  left: 7.5%;
  top: 0;
  float: none;
  margin-left: 1.5rem;
  color: #fff;
  font-size: 32px;
  z-index: 2; }

a.button-collapse.top-nav.full {
  line-height: 122px; }

@media only screen and (max-width: 600px) {
  a.button-collapse.top-nav {
    left: 5%; } }

@media only screen and (max-width: 992px) {
  nav .nav-wrapper {
    text-align: center; }
  nav .nav-wrapper a.page-title {
    font-size: 36px; } }

@media only screen and (min-width: 993px) {
  .container {
    width: 85%; } }
